@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root {
    --orange: #F79F1F;
    --text-color-1: #444;
    --text-color-2: #666;
    --bg-color-1: #fff;
    --bg-color-2: #eee;
    --purple: #8953bc;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 5rem;
}

body {
    background: var(--bg-color-2);
    height: 3000px;
}

body.active {
    --text-color-1: #fff;
    --text-color-2: #eee;
    --bg-color-1: #333;
    --bg-color-2: #222;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .4);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--text-color-1);
    font-size: 4rem;
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    z-index: -1;
    background: var(--orange);
    height: 100%;
    width: 100%;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--orange);
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    height: 80px;
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--text-color-1);
}

.header .logo i {
    color: var(--orange);
}

.header .search-form {
    background: var(--bg-color-2);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    width: 50rem;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--text-color-1);
    padding: 1rem;
}

.header .search-form label {
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--text-color-1);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: 50%;
    margin-left: .5rem;
    background: var(--bg-color-2);
    color: var(--text-color-1);
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    color: #fff;
    background: var(--orange);
}



.header .navbar {
    position: absolute;
    top: 115%;
    right: 7%;
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 25rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .navbar.active {
    transform: scale(1);
}

.header .navbar a {
    display: block;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--text-color-1);
    border-radius: .5rem;
}

.header .navbar a:hover {
    color: var(--orange);
    background: var(--bg-color-2);
    padding-left: 2rem;
}

.header .login-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .login-form.active {
    transform: scale(1);
}

.header .login-form .inputBox {
    margin-bottom: 1rem;
}

.header .login-form .inputBox span {
    font-size: 1.7rem;
    color: var(--text-color-2);
}

.header .login-form .inputBox input {
    font-size: 1.5rem;
    color: var(--text-color-1);
    border-radius: .5rem;
    padding: 1rem;
    background: var(--bg-color-2);
    width: 100%;
    text-transform: none;
    margin: .5rem 0;
}

.header .login-form .remember {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 0;
}

.header .login-form .remember label {
    color: var(--text-color-2);
    font-size: 1.5rem;
    cursor: pointer;
}

.header .login-form .btn {
    width: 100%;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 7rem;
    position: relative;
    top: -470px;
}

.home .image {
    flex: 1 1 45rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    flex: 1 1 45rem;
}

.home .content h3 {
    color: var(--text-color-1);
    font-size: 4rem;
}

.home .content p {
    color: var(--text-color-2);
    font-size: 1.7rem;
    line-height: 1.7;
    padding: 1rem 0;
}

.form-container form {
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.form-container form .inputBox {
    flex: 1 1 23rem;
}

.form-container form .inputBox span {
    font-size: 1.7rem;
    color: var(--text-color-2);
}

.form-container form .inputBox input {
    font-size: 1.5rem;
    color: var(--text-color-1);
    background: var(--bg-color-2);
    border-radius: .5rem;
    margin: .5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}

.form-container form .btn {
    flex: 1 1 23rem;
}

.packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.packages .box-container .box {
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.packages .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    position: relative;
}

.packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.packages .box-container .box .image h3 {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    border-radius: .5rem;
    font-weight: lighter;
    padding: .5rem 1.5rem;
}

.packages .box-container .box .image h3 i {
    color: var(--orange);
}

.packages .box-container .box .content {
    padding: 1.5rem;
    padding-top: 0;
}

.packages .box-container .box .content p {
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--text-color-2);
    line-height: 1.7;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    background: var(--bg-color-1);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: var(--box-shadow);
    position: relative;
    padding: 5rem;
}

.services .box-container .box span {
    position: absolute;
    top: .5rem;
    right: 2rem;
    color: var(--text-color-2);
    font-weight: bolder;
    font-size: 5rem;
}

.services .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    background: var(--orange);
    border-radius: 50%;
    margin-bottom: .5rem;
}

.services .box-container .box h3 {
    color: var(--text-color-1);
    font-size: 2.3rem;
    padding: .7rem 0;
}

.services .box-container .box p {
    color: var(--text-color-2);
    font-size: 1.5rem;
    line-height: 1.8;
}

.pricing .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.pricing .box-container .box {
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
}

.pricing .box-container .box h3 {
    padding: 1rem;
    background: var(--bg-color-2);
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--text-color-1);
}


.pricing .box-container .box ul {
    padding: .5rem 0;
    list-style: none;
}

.pricing .box-container .box ul li {
    padding: 1rem 0;
    font-size: 1.7rem;
    color: var(--text-color-2);
}

.review {
    position: relative;
    top: -250px;
}

.review .heading {
    margin-bottom: 80px;
}

.review .review-slider {
    box-shadow: var(--box-shadow);
}

.review .review-slider .slide {
    background: var(--bg-color-1);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem;
}

.review .review-slider .slide:hover {
    border: var(--orange) 5px double;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}

.review .review-slider .slide img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.review .review-slider .slide h3 {
    font-size: 2.5rem;
    color: var(--text-color-1);
}

.review .review-slider .slide p {
    font-size: 1.6rem;
    color: var(--text-color-2);
    line-height: 1.7;
    padding: 1rem 0;
}

.review .review-slider .slide .stars {
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

.review .review-slider .slide .stars i {
    font-size: 2rem;
    color: var(--orange);
}

.swiper-pagination-bullet-active {
    background: var(--orange);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form textarea,
.contact form .inputBox input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color-1);
    margin: .7rem 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    text-transform: none;
    border-radius: .5rem;
}

.contact form textarea {
    height: 20rem;
    resize: none;
}

.contact form .inputBox input {
    width: 49%;
}

.footer {
    background: var(--bg-color-1);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.5rem;

}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--text-color-1);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--text-color-2);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--orange);
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    font-size: 2rem;
    text-align: center;
    border-top: .1rem solid var(--text-color-2);
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color: var(--text-color-2);
}

.footer .credit span {
    color: var(--orange);
}

/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    .header .navbar {
        right: 2rem;
    }

    .header .login-form {
        right: 2rem;
    }



    .header .search-form {
        position: absolute;
        top: 115%;
        right: 2rem;
        background: var(--bg-color-1);
        border-radius: .5rem;
        width: 90%;
        box-shadow: var(--box-shadow);
        transform: scale(0);
        transform-origin: top right;
    }

    .header .search-form.active {
        transform: scale(1);
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .contact form .inputBox input {
        width: 100%;
    }

}

.img-2 {
    position: relative;
    width: 80px;
    height: 70px;

}

.p1 {
    position: relative;
    top: -20px;
}

.tra {
    position: relative;
    top: -400px;
}

.about-img {
    height: 400px;
    width: 400px;
    float: left;
}

.about {
    margin-bottom: 50px;
}

.p-about {
    height: 400px;
    align-items: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 30px;
    background-color: var(--bg-color-1);
}

.p-about p {
    position: relative;
    color: var(--text-color-1);
    top: 30%;
}

.p-about:hover {
    border: var(--orange) 7px double;
}

.pack {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 50px;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 50px;
    color: white;
    border: #F79F1F 4px double;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
}

.panel image {
    width: 100%;
}

.panel a {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 100px;
    opacity: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.panel.active {
    flex: 5;
}

.panel.active a {
    opacity: 1;

    transition: opacity 0.3s ease-in 0.4s;
}

.panel:hover {
    box-shadow: 0px 0px 30px rgb(74, 63, 134);
}


@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}

#m1,
#m2,
#m3,
#m4 {
    font-family: "Brush Script MT";
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 40px;
    padding: 10px;
    display: none;
    color: var(--text-color-1);
    border-bottom: var(--orange) 5px solid;
    border-radius: 30%;
}

.names {
    position: relative;
    width: 350px;
    height: 50px;
    left: 35%;
    text-align: center;
}

#Mountain-d,
#ice-d,
#forest-d,
#sea-d {
    width: 100%;
    height: 50%;
    background-color: black;
    opacity: 0.7;
    border-radius: 0 0 50px 50px;
    position: relative;
    top: 50%;
    align-items: center;
    display: none;
}

.pes {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

.btn-img {
    padding: .8rem 3rem;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    background: #F79F1F;
    border-radius: 30px;
    left: 40%;
    bottom: -35px;
    position: relative;
    cursor: pointer;
}

.btn-img:hover {
    letter-spacing: .2rem;
    font-weight: 400;
    border: #fff 2px solid;
}

label {
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.flip-card {

    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.flip-card .front,
.flip-card .back {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card .back {
    transform: rotateX(180deg);

}

label:hover .flip-card {
    transform: rotateX(2deg);
}

input {
    display: none;
}

:checked+.flip-card {
    transform: rotateX(180deg);
}

label:hover :checked+.flip-card {
    transform: rotateX(175deg);
}

.la1 {
    position: relative;
    left: 45%;
    top: 50%;
}

.la2 {
    position: relative;
    top: 50%;
    left: 55%;
}

.la3 {
    position: relative;
    left: 75%;
    top: 50%;
}

.back .back-pp {
    position: relative;
    text-align: center;
    top: 20%;
}

.back-p {
    position: relative;
    text-align: center;
    top: 10%;
}

.contact {
    position: relative;
    top: -150px;
}

.footer .box {
    position: relative;
    left: 50px;
}

.swiper-slide .slide:hover {
    color: #F79F1F;
}

/* ------------------------------------ */






.bb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    position: relative;
    top: 80px;
}

.Blogs {
    position: relative;
    top: 100px;
}


.card {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 60px;
    margin-left: 80px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.card:hover {
    width: 100%;
    transition-delay: 0s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card:hover .circle::before {
    clip-path: circle(700px at center);
}

.card .circle .logo {
    position: relative;
    width: 200px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.card:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0s;
}

.card .content {
    position: relative;
    width: 70%;
    left: 50px;
    padding-left: 20px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.card .content h3 {
    font-family: 'Goudy Old Style';
    color: rgb(236, 225, 225);
    text-transform: uppercase;
    font-size: 2rem;
}

.card .content p,
.card .content span {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 700;
}

.card .content a {
    position: relative;
    color: rgb(250, 240, 240);
    background-color: rgb(7, 6, 6);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.card .product-img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 500px;
    transition: 0.5s;
    transition-delay: 0s;
}

.card:hover .product-img {
    left: 72%;
    transform: translate(-50%, -50%) scale(1);
    transition-delay: 0.5s;
}



.thanks {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    display: none;
}

.thanks .thank-card {
    background: white;
    padding: 3rem;
    border-radius: 50px;
    width: 50%;
    font-weight: 500;
    box-shadow: 0 0 1rem var(--orange);
}

.thanks .thank-card h2 {
    font-size: 40px;
    color: black;
}

.thanks .thank-card p {
    font-size: 20px;
    color: black;
}

.btn-ok {
    width: 20%;
    height: 20%;
    border: 2px solid var(--orange);
    border-radius: 30px;
    padding: 2px;
    font-weight: 300;
    font-size: 20px;
    color: black;
    background-color: #aaa;
}